<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body>
    <h1>Signup</h1>
    <form method="post" action="/user">
      <label for="name">Enter Your Name: </label>
      <input type="text" name="name" id="name" required />
      <label for="email">Enter Your Email: </label>
      <input type="email" name="email" id="email" required />
      <label for="password">Enter Your Password: </label>
      <input type="text" name="password" id="password" required />

      <button type="submit">Signup</button>
    </form>
  </body>
</html>
